.NavBarItems {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  color: teal;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.NavBarItems:hover {
  background-color: teal;
  color: white;
}

.NavBarItems + .NavBarItems {
  margin-left: 10px;
}
