*,
* ::after,
* ::before {
  box-sizing: border-box;
}

.fish-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 24;
}

.create-fish-button {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.create-fish-button:hover {
  box-shadow: 10px 5px 5px teal;
  background: white;
  color: teal;
}
